@media screen and (min-width: 1024px) {
    .body-dark {
        .main-creargifo {
            .ilus-grabar-contenedor {
                .div-grabacion {
                    .recuadro-grabacion {
                        border: 1px solid #ffffff;

                        .video-contenedor {
                            #titulo-grabargifo {
                                color: #ffffff;

                                .gifos-crear {
                                    color: #50E3C2;
                                }
                            }

                            #texto-grabargifo {
                                color: #ffffff;
                            }

                            .overlay-video {
                                display: none;

                                background-color: rgba(87,46,229,0.9);

                                #overlay-video-actions {
                                    #btn-creargifo-descargar {
                                        background-color: #ffffff;
                                    }

                                    #btn-creargifo-descargar:hover {
                                        background-color: #ffffff;
                                    }

                                    #btn-creargifo-link {
                                        background-color: #ffffff;
                                    }

                                    #btn-creargifo-link:hover {
                                        background-color: #ffffff;
                                    }
                                }

                                #overlay-video-textos {
                                    #overlay-video-parrafo {
                                        color: #ffffff;
                                    }
                                }
                            }
                        }
                    }

                    div {
                        .crear-pasos {
                            p {
                                border: 1px solid #ffffff;

                                color: #ffffff;
                            }

                            .paso-activo {
                                background-color: #ffffff;
                                color: #572EE5;
                            }
                        }

                        .contador-contenedor {
                            #contador-grabacion {
                                color: #ffffff;
                            }

                            #contador-repetircaptura {
                                color: #ffffff;
                                border-bottom: 2px solid #222326;
                            }

                            #contador-repetircaptura:hover {
                                border-bottom: 2px solid #50E3C2;
                            }
                        }
                    }
                }
            }
        }
    }
}
