.body-dark {

    .main-header {
        h1 {
            color: #ffffff;
    
            .gifos {
                color: #50E3C2;
            }
        }
        .buscador-contenedor {
            .buscador {
                border: 1px solid #ffffff;

                .buscador-bloque {
                    .buscador-y-lupa {
                        .input-buscador {
                            color: #ffffff;
                        }
                    } 
                }
            }
        }
    }

    //busqueda
    .buscador-activo {
        border: 1px solid #ffffff;
        
        .buscador-bloque {
            .buscador-y-lupa {
                
    
                .input-buscador {
                    color: #ffffff;
                    background-color: unset;
                }
            }
        }
    
        .buscador-sugerencias { 
            border-top: 1px solid #ffffff;
        }
    }

    .trending-sugerencias {
        h3 {
            color: #ffffff;
        }
    
        #trending-topics {
            color: #ffffff;
        }
    }

    .titulo-busqueda {
        color: #ffffff;
    }

    .btn-generico {
        color: #ffffff;
        border: 1px solid #ffffff;
    }

    .btn-generico:hover {
        background-color: #ffffff;
        color: #572EE5;
    }

    //seccion trending
    .trending {
        background-color: #222326;
    
        h2 {
            color: #ffffff;
        }
    
        p {
            color: #ffffff;
        }
    }
}