
.body-dark {
    .modal-activado {
        background-color: #000000;

        .modal-bar {
            .modal-textos {
                .modal-user {
                    color: #ffffff;
                }

                .modal-titulo {
                    color: #ffffff;
                }
            }
        }
    }
}