//menu mobile

.body-dark {
    background-color: #37383C;

    .linea-violeta {
        background-color: #000000;
    }

    header {
        .navbar {
            background-color: #37383C;

            nav {
                .menu {
                    ul {
                        background-color: #000000;

                        li {
                            .menu-items {
                                color: #ffffff;
                            }
                        }

                        li:first-child .menu-items {
                            padding-top: 0;
                        }
                    }

                    label {
                        span {
                            background-color: #ffffff;
                        }
                    }

    

                    input:checked ~ label span {
                        background-color: #ffffff;
                    }
                }
            }
        }

        
    }
}

//menu desktop
@media screen and (min-width: 1024px) {
    .body-dark {

        header {
            .navbar {
                nav {
                    .menu {
                        ul {
                            li {
                                .menu-items {
                                    color: #ffffff;
                                    border-bottom: 2px solid #37383C;
                                }

                                .menu-items:hover {
                                    border-bottom: 2px solid #50E3C2;
                                }
                                
                                .menu-creargifo {
                                    border: 1px solid #ffffff;
                                }

                                .menu-creargifo:hover {
                                    background-color: #ffffff;
                                }

                                .menu-creargifo:active {
                                    background-color: #ffffff;
                                }
                            }
                        }

                        ul {
                            background-color: unset;
                        }
                    }
                }
            }
        }
    }
}
